@import "variables", "mixins", "reset";

// 마우스포인터 변경
#mouse_pointer {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -10px;
  border-radius: 50%;
  background: #eee;
  mix-blend-mode: difference;
  z-index: 9999;
  pointer-events: none;
  transition: transform 0.3s;
  &.hover {
    transform: scale(3);
  }
}
// 풀페이지 네비게이션
#fp-nav {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  li {
    padding: 12px 0;
    .nav {
      width: 11px;
      height: 11px;
      background-color: $default;
      border-radius: 8px;
    }
  }
}

body {
  margin: 0;
  background-color: #eae8e0;
  text-align: center;
  cursor: none !important;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

#main {
  position: relative;
  height: 100vh;
  h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: calc(12px + 7vw);
    font-weight: 600;
    letter-spacing: -0.5vw;
    margin-top: calc(25px + 22vh);
    border: 3px solid $default;
    padding: 0 calc(10px + 4vw);
    border-radius: 300px;
  }
  #main3d {
    img {
      position: absolute;
      z-index: 100;
    }
    #P {
      top: calc((370px / 950px) * 100vh);
      left: calc((350px / 1920px) * 100%);
      width: calc((145px / 1920px) * 100%);
    }
    #O {
      top: calc((425px / 950px) * 100vh);
      left: calc((474px / 1920px) * 100%);
      width: calc((168px / 1920px) * 100%);
    }
    #R {
      top: calc((387px / 950px) * 100vh);
      left: calc((640px / 1920px) * 100%);
      width: calc((160px / 1920px) * 100%);
    }
    #T {
      top: calc((410px / 950px) * 100vh);
      left: calc((783px / 1920px) * 100%);
      width: calc((145px / 1920px) * 100%);
    }
    #F {
      top: calc((430px / 950px) * 100vh);
      left: calc((924px / 1920px) * 100%);
      width: calc((140px / 1920px) * 100%);
    }
    #O2 {
      top: calc((385px / 950px) * 100vh);
      left: calc((1053px / 1920px) * 100%);
      width: calc((167px / 1920px) * 100%);
    }
    #L {
      top: calc((410px / 950px) * 100vh);
      left: calc((1228px / 1920px) * 100%);
      width: calc((122px / 1920px) * 100%);
    }
    #I {
      top: calc((380px / 950px) * 100vh);
      left: calc((1338px / 1920px) * 100%);
      width: calc((83px / 1920px) * 100%);
    }
    #O3 {
      top: calc((408px / 950px) * 100vh);
      left: calc((1422px / 1920px) * 100%);
      width: calc((167px / 1920px) * 100%);
    }
  }
  .icon {
    img {
      position: absolute;
    }
    #heart {
      top: calc((65px / 950px) * 100vh);
      left: calc((155px / 1920px) * 100%);
    }
    #ring {
      top: calc((120px / 950px) * 100vh);
      left: calc((755px / 1920px) * 100%);
    }
    #star2 {
      top: calc((300px / 950px) * 100vh);
      left: calc((455px / 1920px) * 100%);
    }
    #sun {
      top: calc((75px / 950px) * 100vh);
      right: calc((200px / 1920px) * 100%);
    }
    #twinkle {
      top: calc((205px / 950px) * 100vh);
      right: calc((530px / 1920px) * 100%);
    }
    #star {
      top: calc((440px / 950px) * 100vh);
      right: calc((105px / 1920px) * 100%);
    }
    #dust {
      top: calc((720px / 950px) * 100vh);
      right: calc((150px / 1920px) * 100%);
    }
    #flower {
      top: calc((650px / 950px) * 100vh);
      right: calc((825px / 1920px) * 100%);
    }
    #tulip {
      top: calc((670px / 950px) * 100vh);
      left: calc((110px / 1920px) * 100%);
    }
  }
  .icon_mobile {
    display: none;
  }
  .scroll {
    padding-top: 820px;
    .la-angle-down {
      text-align: center;
      display: block;
    }
  }
}
#about {
  position: relative;
  height: 100vh;
  padding: 60px 100px;
  h2 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -2px;
    border: 3px solid $default;
    border-radius: 100px;
    width: 300px;
    margin: 0 auto;
  }
  .profile {
    .profileimg {
      position: absolute;
      width: calc((650px / 1920px) * 100%);
      height: auto;
      border: 3px solid $default; /* 픽셀 단위로 유지됩니다. */
      z-index: 5;
      top: calc((210px / 950px) * 100vh);
      left: calc((280px / 1920px) * 100%);
    }
    .profileimgbg {
      position: absolute;
      display: inline-block;
      width: calc((650px / 1920px) * 100%);
      height: auto;
      border: 3px solid $default; /* 픽셀 단위로 유지됩니다. */
      top: calc((180px / 950px) * 100vh);
      left: calc((250px / 1920px) * 100%);
    }
  }
  #about3d {
    position: absolute;
    z-index: 5;
    bottom: calc((10px / 950px) * 100vh);
    left: calc((120px / 1920px) * 100%);
    img {
      width: 300px;
    }
  }
  .info {
    text-align: left;
    margin-left: calc((1000px / 1920px) * 100%);
    margin-top: calc((80px / 950px) * 100vh);
    letter-spacing: -2px;
    .info_name {
      display: flex;
      font-size: 60px;
      h3 {
        font-weight: 800;
        margin-right: 15px;
        color: $primary;
      }
      h4 {
        font-weight: lighter;
      }
    }
    p {
      font-size: 30px;
      margin-bottom: 50px;
    }
    .info_tit {
      font-size: 30px;
      font-weight: 600;
      .info_2depth {
        font-size: 24px;
        font-weight: normal;
        margin-bottom: 40px;
        img {
          width: 55px;
        }
      }
    }
  }
  .icon {
    img {
      position: absolute;
      z-index: 5;
    }
    #heart {
      top: calc((480px / 950px) * 100vh);
      left: calc((330px / 1920px) * 100%);
    }
    #twinkle {
      top: calc((300px / 950px) * 100vh);
      left: calc((730px / 1920px) * 100%);
    }
    #star {
      top: calc((250px / 950px) * 100vh);
      right: calc((450px / 1920px) * 100%);
    }
    #plant {
      bottom: calc((70px / 950px) * 100vh);
      right: calc((150px / 1920px) * 100%);
    }
  }
}
#pp1 {
  position: relative;
  height: 100vh;
  padding: 60px 100px;
  margin-top: 20px;
  h2 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -2px;
    border: 3px solid $default;
    border-radius: 100px;
    width: 300px;
    margin: 0 auto;
  }
  .pp_inner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 70px;
    .ppcover {
      width: 870px;
      height: calc((552px / 950px) * 100vh);
      border: 3px solid $default;
      border-radius: 20px;
      overflow: hidden;
      img {
        width: 100%;
        transition: transform 3s ease;
      }
      &:hover img {
        transform: translateY(-2070px);
      }
    }
    .pp3d {
      position: absolute;
      width: calc((250px / 1920px) * 100%);
      z-index: 5;
      bottom: calc((90px / 950px) * 100vh);
      left: calc((850px / 1920px) * 100%);
    }
    .pptxt {
      text-align: left;
      margin-left: 80px;
      letter-spacing: -2px;
      img {
        height: 40px;
      }
      h3 {
        font-size: 30px;
        font-weight: 600;
      }
      ul {
        padding: 30px 0 60px 0;
        li {
          display: flex;
          font-size: 22px;
          padding: 5px 0;
          strong {
            margin-right: 20px;
            font-weight: 500;
          }
          p {
            font-weight: 300;
          }
        }
      }
      .pp_desc {
        font-size: 20px;
        font-weight: 300;
      }
      .pp_btn {
        margin-top: 30px;
        button {
          margin-right: 10px;
          a {
            color: $default;
            font-size: 20px;
            padding: 10px 15px;
            border: 1px solid $default;
            border-radius: 15px;
          }
        }
      }
    }
  }
}
#pp2 {
  position: relative;
  height: 100vh;
  padding: 60px 100px;
  margin-top: 20px;
  h2 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -2px;
    border: 3px solid $default;
    border-radius: 100px;
    width: 300px;
    margin: 0 auto;
  }
  .pp_inner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 70px;
    .ppcover {
      width: 870px;
      height: calc((552px / 950px) * 100vh);
      border: 3px solid $default;
      border-radius: 20px;
      overflow: hidden;
      img {
        width: 100%;
        transition: transform 0.8s ease;
      }
      &:hover img {
        transform: translateY(-420px);
      }
    }
    .pp3d {
      position: absolute;
      width: calc((250px / 1920px) * 100%);
      z-index: 5;
      bottom: calc((90px / 950px) * 100vh);
      left: calc((870px / 1920px) * 100%);
    }
    .pptxt {
      text-align: left;
      margin-left: 80px;
      letter-spacing: -2px;
      img {
        height: 40px;
      }
      h3 {
        font-size: 30px;
        font-weight: 600;
      }
      ul {
        padding: 30px 0 60px 0;
        li {
          display: flex;
          font-size: 22px;
          padding: 5px 0;
          strong {
            margin-right: 20px;
            font-weight: 500;
          }
          p {
            font-weight: 300;
          }
        }
      }
      .pp_desc {
        font-size: 20px;
        font-weight: 300;
      }
      .pp_btn {
        margin-top: 30px;
        button {
          margin-right: 10px;
          a {
            color: $default;
            font-size: 20px;
            padding: 10px 15px;
            border: 1px solid $default;
            border-radius: 15px;
          }
        }
      }
    }
  }
}
#pp3 {
  position: relative;
  height: 100vh;
  padding: 60px 100px;
  margin-top: 20px;
  h2 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -2px;
    border: 3px solid $default;
    border-radius: 100px;
    width: 300px;
    margin: 0 auto;
  }
  .pp_inner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 70px;
    .ppcover {
      width: 870px;
      height: calc((552px / 950px) * 100vh);
      border: 3px solid $default;
      border-radius: 20px;
    }
    .pp3d {
      position: absolute;
      width: 250px;
      z-index: 5;
      bottom: 90px;
      left: 860px;
    }
    .pptxt {
      text-align: left;
      margin-left: 80px;
      letter-spacing: -2px;
      img {
        width: 200px;
      }
      h3 {
        font-size: 30px;
        font-weight: 600;
      }
      ul {
        padding: 30px 0 60px 0;
        li {
          display: flex;
          font-size: 22px;
          padding: 5px 0;
          strong {
            margin-right: 20px;
            font-weight: 500;
          }
          p {
            font-weight: 300;
          }
        }
      }
      .pp_desc {
        font-size: 20px;
        font-weight: 300;
      }
    }
  }
}
#contect {
  height: 100vh;
  padding: 60px 100px;
  margin-top: 20px;
  h2 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -2px;
    border: 3px solid $default;
    border-radius: 100px;
    width: 300px;
    margin: 0 auto;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    li {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 400px;
      padding: 250px 0;
      border: 3px solid $default;
      margin: 0 20px;
      .la-github::before,
      .la-phone::before,
      .la-envelope::before {
        font-size: 60px;
      }
      a {
        font-size: 22px;
        font-weight: 600;
        color: $default;
        margin-top: 10px;
        opacity: 0;
        img {
          position: absolute;
          top: calc((100px / 950px) * 100vh);
          left: calc((70px / 400px) * 100%);
          width: calc((250px / 400px) * 100%);
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #main {
    h1 {
      margin-top: calc(25px + 28vh);
    }
    #main3d {
      #P {
        top: calc((370px / 950px) * 100vh);
        left: calc((230px / 1920px) * 100%);
        width: calc((175px / 1920px) * 100%);
      }
      #O {
        top: calc((425px / 950px) * 100vh);
        left: calc((358px / 1920px) * 100%);
        width: calc((198px / 1920px) * 100%);
      }
      #R {
        top: calc((387px / 950px) * 100vh);
        left: calc((545px / 1920px) * 100%);
        width: calc((190px / 1920px) * 100%);
      }
      #T {
        top: calc((410px / 950px) * 100vh);
        left: calc((715px / 1920px) * 100%);
        width: calc((175px / 1920px) * 100%);
      }
      #F {
        top: calc((430px / 950px) * 100vh);
        left: calc((885px / 1920px) * 100%);
        width: calc((170px / 1920px) * 100%);
      }
      #O2 {
        top: calc((385px / 950px) * 100vh);
        left: calc((1040px / 1920px) * 100%);
        width: calc((197px / 1920px) * 100%);
      }
      #L {
        top: calc((410px / 950px) * 100vh);
        left: calc((1240px / 1920px) * 100%);
        width: calc((152px / 1920px) * 100%);
      }
      #I {
        top: calc((380px / 950px) * 100vh);
        left: calc((1360px / 1920px) * 100%);
        width: calc((113px / 1920px) * 100%);
      }
      #O3 {
        top: calc((408px / 950px) * 100vh);
        left: calc((1480px / 1920px) * 100%);
        width: calc((197px / 1920px) * 100%);
      }
    }
    .icon {
      #star2 {
        top: calc((300px / 950px) * 100vh);
        left: calc((425px / 1920px) * 100%);
      }
      #twinkle {
        top: calc((235px / 950px) * 100vh);
        right: calc((500px / 1920px) * 100%);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #main {
    h1 {
      margin-top: calc(25px + 30vh);
    }
    .icon {
      #star2 {
        top: calc((300px / 950px) * 100vh);
        left: calc((380px / 1920px) * 100%);
      }
      #twinkle {
        top: calc((255px / 950px) * 100vh);
        right: calc((450px / 1920px) * 100%);
      }
    }
  }
}

@media screen and (max-width: 480px) {
  #mouse_pointer {
    display: none;
  }
  #fp-nav {
    display: none;
  }
  #main {
    h1 {
      margin-top: calc(25px + 33vh);
    }
    #main3d {
      #P {
        top: calc((320px / 800px) * 100vh);
        left: calc((230px / 1920px) * 100%);
        width: calc((275px / 1920px) * 100%);
      }
      #O {
        top: calc((355px / 800px) * 100vh);
        left: calc((448px / 1920px) * 100%);
        width: calc((298px / 1920px) * 100%);
      }
      #R {
        top: calc((337px / 800px) * 100vh);
        left: calc((735px / 1920px) * 100%);
        width: calc((290px / 1920px) * 100%);
      }
      #T {
        top: calc((350px / 800px) * 100vh);
        left: calc((990px / 1920px) * 100%);
        width: calc((275px / 1920px) * 100%);
      }
      #F {
        top: calc((440px / 800px) * 100vh);
        left: calc((470px / 1920px) * 100%);
        width: calc((270px / 1920px) * 100%);
      }
      #O2 {
        top: calc((420px / 800px) * 100vh);
        left: calc((730px / 1920px) * 100%);
        width: calc((297px / 1920px) * 100%);
      }
      #L {
        top: calc((430px / 800px) * 100vh);
        left: calc((1040px / 1920px) * 100%);
        width: calc((252px / 1920px) * 100%);
      }
      #I {
        top: calc((410px / 800px) * 100vh);
        left: calc((1240px / 1920px) * 100%);
        width: calc((180px / 1920px) * 100%);
      }
      #O3 {
        top: calc((440px / 800px) * 100vh);
        left: calc((1430px / 1920px) * 100%);
        width: calc((297px / 1920px) * 100%);
      }
    }
    .icon {
      display: none;
    }
    .icon_mobile {
      display: block;
      img {
        position: absolute;
      }
      #mheart {
        top: calc((80px / 950px) * 100vh);
        left: calc((100px / 480px) * 100%);
      }
      #mstar {
        top: calc((320px / 950px) * 100vh);
        left: calc((50px / 480px) * 100%);
      }
      #mtwinkle {
        top: calc((260px / 950px) * 100vh);
        left: calc((350px / 480px) * 100%);
      }
      #mdust {
        top: calc((730px / 950px) * 100vh);
        left: calc((290px / 480px) * 100%);
      }
      #mflower {
        top: calc((670px / 950px) * 100vh);
        left: calc((80px / 480px) * 100%);
      }
    }
    .scroll {
      display: none;
    }
  }
  #about {
    padding: 40px 30px;
    h2 {
      font-size: 25px;
      width: 150px;
    }
    .profile {
      display: none;
    }
    #about3d {
      position: static;
      margin-top: -40px;
      img {
        width: 260px;
      }
    }
    .info {
      text-align: center;
      margin-left: 0;
      margin-top: -20px;
      letter-spacing: -2px;
      .info_name {
        font-size: 30px;
        justify-content: center;
      }
      p {
        font-size: 20px;
        margin-bottom: 15px;
      }
      .info_tit {
        font-size: 20px;
        .info_2depth {
          font-size: 16px;
          margin-bottom: 15px;
          img {
            width: 35px;
          }
        }
      }
    }
    .icon {
      display: none;
    }
  }
}
