@import "variables", "mixins", "reset";

// 스크롤 숨김
body {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
// 마우스포인터 변경
#mouse_pointer {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -10px;
  border-radius: 50%;
  background: #eee;
  mix-blend-mode: difference;
  z-index: 9999;
  pointer-events: none;
  transition: transform 0.3s;
  &.hover {
    transform: scale(3);
  }
}
// 풀페이지 네비게이션
#fp-nav {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  li {
    padding: 12px 0;
    .nav {
      width: 11px;
      height: 11px;
      background-color: $default;
      border-radius: 8px;
    }
  }
}

body {
  margin: 0;
  background-color: #eae8e0;
  text-align: center;
  cursor: none !important;
  #main {
    position: relative;
    height: 100vh;
    h1 {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      font-size: 120px;
      font-weight: 600;
      letter-spacing: -5px;
      margin-top: 250px;
      border: 3px solid $default;
      padding: 0 100px;
      border-radius: 100px;
    }
    #main3d {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 320px;
      img {
        z-index: 100;
        width: 1400px;
      }
    }
    .icon {
      .main_icon {
        position: absolute;
      }
      #heart {
        top: 65px;
        left: 155px;
      }
      #ring {
        top: 120px;
        left: 755px;
      }
      #star2 {
        top: 300px;
        left: 455px;
      }
      #sun {
        top: 75px;
        right: 200px;
      }
      #twinkle {
        top: 225px;
        right: 570px;
      }
      #star {
        top: 440px;
        right: 105px;
      }
      #dust {
        top: 720px;
        right: 150px;
      }
      #flower {
        top: 650px;
        right: 825px;
      }
      #tulip {
        top: 670px;
        left: 110px;
      }
    }
    .scroll {
      padding-top: 820px;
      .la-angle-down {
        text-align: center;
        display: block;
      }
    }
  }
  #about {
    position: relative;
    height: 100vh;
    padding: 60px 100px;
    h2 {
      font-size: 40px;
      font-weight: 600;
      letter-spacing: -2px;
      border: 3px solid $default;
      border-radius: 100px;
      width: 300px;
      margin: 0 auto;
    }
    .profile {
      img {
        position: absolute;
        width: 650px;
        border: 3px solid $default;
        z-index: 5;
        top: 210px;
        left: 280px;
      }
      .box {
        position: absolute;
        display: inline-block;
        width: 650px;
        height: 640px;
        border: 3px solid $default;
        top: 180px;
        left: 250px;
      }
    }
    #about3d {
      position: absolute;
      z-index: 5;
      bottom: 10px;
      left: 120px;
      img {
        width: 300px;
      }
    }
    .info {
      text-align: left;
      margin-left: 900px;
      margin-top: 80px;
      letter-spacing: -2px;
      .info_name {
        display: flex;
        font-size: 60px;
        h3 {
          font-weight: 800;
          margin-right: 15px;
          color: $primary;
        }
        h4 {
          font-weight: lighter;
        }
      }
      p {
        font-size: 30px;
        margin-bottom: 50px;
      }
      .info_tit {
        font-size: 30px;
        font-weight: 600;
        .info_2depth {
          font-size: 24px;
          font-weight: normal;
          margin-bottom: 40px;
          img {
            width: 55px;
          }
        }
      }
    }
    .icon {
      .about_icon {
        position: absolute;
        z-index: 5;
      }
      #heart {
        top: 480px;
        left: 330px;
      }
      #twinkle {
        top: 300px;
        left: 730px;
      }
      #star {
        top: 250px;
        right: 450px;
      }
      #plant {
        bottom: 70px;
        right: 150px;
      }
    }
  }
  #pp1 {
    position: relative;
    height: 100vh;
    padding: 60px 100px;
    h2 {
      font-size: 40px;
      font-weight: 600;
      letter-spacing: -2px;
      border: 3px solid $default;
      border-radius: 100px;
      width: 300px;
      margin: 0 auto;
    }
    .pp_inner {
      display: flex;
      margin-top: 80px;
      .ppimg {
        img {
          width: 870px;
          height: auto;
          border: 3px solid $default;
        }
      }
      .pptxt {
        text-align: left;
        margin-left: 80px;
        letter-spacing: -2px;
        img {
          width: 200px;
        }
        h3 {
          font-size: 35px;
          font-weight: 600;
        }
        ul {
          padding: 30px 0;
          li {
            display: flex;
            font-size: 25px;
            padding: 5px 0;
            strong {
              margin-right: 20px;
              font-weight: 500;
            }
            p {
              font-weight: 300;
            }
          }
        }
        .pp1_desc {
          font-size: 22px;
          font-weight: 300;
        }
        .pp1_btn {
          margin-top: 30px;
          button {
            margin-right: 10px;
            a {
              color: $default;
              font-size: 20px;
              padding: 10px 15px;
              border: 2px solid $default;
              border-radius: 15px;
            }
          }
        }
      }
    }
  }
  #pp2 {
    position: relative;
    height: 100vh;
    padding: 60px 100px;
    h2 {
      font-size: 40px;
      font-weight: 600;
      letter-spacing: -2px;
      border: 3px solid $default;
      border-radius: 100px;
      width: 300px;
      margin: 0 auto;
    }
    .pp_inner {
      display: flex;
      margin-top: 80px;
      .ppimg {
        img {
          width: 870px;
          height: auto;
          border: 3px solid $default;
        }
      }
      .pptxt {
        text-align: left;
        margin-left: 80px;
        letter-spacing: -2px;
        img {
          width: 156px;
        }
        h3 {
          font-size: 35px;
          font-weight: 600;
        }
        ul {
          padding: 30px 0;
          li {
            display: flex;
            font-size: 25px;
            padding: 5px 0;
            strong {
              margin-right: 20px;
              font-weight: 500;
            }
            p {
              font-weight: 300;
            }
          }
        }
        .pp2_desc {
          font-size: 22px;
          font-weight: 300;
        }
        .pp2_btn {
          margin-top: 30px;
          button {
            margin-right: 10px;
            a {
              color: $default;
              font-size: 20px;
              padding: 10px 15px;
              border: 2px solid $default;
              border-radius: 15px;
            }
          }
        }
      }
    }
  }
  #pp3 {
    position: relative;
    height: 100vh;
    padding: 60px 100px;
    h2 {
      font-size: 40px;
      font-weight: 600;
      letter-spacing: -2px;
      border: 3px solid $default;
      border-radius: 100px;
      width: 300px;
      margin: 0 auto;
    }
    .pp_inner {
      display: flex;
      margin-top: 80px;
      .ppimg {
        img {
          width: 870px;
          height: auto;
          border: 3px solid $default;
        }
      }
      .pptxt {
        text-align: left;
        margin-left: 80px;
        letter-spacing: -2px;
        img {
          width: 200px;
        }
        h3 {
          font-size: 35px;
          font-weight: 600;
        }
        ul {
          padding: 30px 0;
          li {
            display: flex;
            font-size: 25px;
            padding: 5px 0;
            strong {
              margin-right: 20px;
              font-weight: 500;
            }
            p {
              font-weight: 300;
            }
          }
        }
        .pp3_desc {
          font-size: 22px;
          font-weight: 300;
        }
      }
    }
  }
}
